<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="jumbotron">
        <div class="container">
            <h1>Mandanten</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div data-template="clients:action"/>
            <div data-template="clients:new"/>
            <div class="clients:init">
                <div class="col-md-3">
                    <div class="tabbable">
                        <div class="clients:sidebar"/>
                    </div>
                    <p/>
                    <form class="form form-horizontal">
                        <div class="input-group">
                            <input pattern="[A-Za-z0-9]*" class="form-control templates:form-control" type="text" placeholder="Neuer Mandant" name="newclient" required="required"/>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit" title="Hinzufügen eines neuen Mandanten">
                                    <span class="glyphicon glyphicon-plus"/>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div data-template="clients:content"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="clients:switchTab">This is for jump to the right tab after reload</input>
</div>