<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="jumbotron">
        <div class="container">
            <h1>Konfigurationen</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="conf:init">
                <div data-template="conf:action"/>
                <div class="col-md-3">
                    <div class="tabbable">
                        <ul class="nav nav-pills nav-stacked" id="sidebar_controlcentres">
                            <li class="active">
                                <a href="#configurations_system" data-toggle="tab">System</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="configurations_system">
                            <form class="form form-horizontal">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <span class="text-primary">System</span>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="system_id" class="col-sm-4 control-label">Id</label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input data-template="conf:systemid"/>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="submit">
                                                            <span class="glyphicon glyphicon-save"/>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Produkt Version</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static" data-template="conf:static" data-template-attribute="productRelease"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Hersteller</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static" data-template="conf:static" data-template-attribute="vendor"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Anbieter</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static" data-template="conf:static" data-template-attribute="provider"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>