<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <script>hljs.initHighlightingOnLoad();</script>
    <div class="jumbotron">
        <div class="container">
            <h1>Leitstellen</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div data-template="cc:action"/>
            <div data-template="cc:new"/>
            <div data-template="cc:test"/>
            <div class="cc:init">
                <div class="col-md-3">
                    <div class="tabbable">
                        <ul class="nav nav-pills nav-stacked" id="sidebar_controlcentres">
                            <li data-template="templates:each" data-template-from="controlcentres" data-template-to="controlcentre">
                                <a data-template="cc:sidebar"/>
                            </li>
                        </ul>
                    </div>
                    <p/>
                    <form class="form form-horizontal">
                        <div class="input-group">
                            <input pattern="[A-Za-z0-9]*" class="form-control templates:form-control" type="text" placeholder="Neue Leitstelle" name="newcc" required="required"/>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit" title="Hinzufügen einer neuen Leitstelle">
                                    <span class="glyphicon glyphicon-plus"/>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div data-template="cc:content"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="cc:switchTab">This is for jump to the right tab after reload</input>
</div>