<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="jumbotron">
        <div class="container">
            <h1>Achtung! <small> In der Anwendung trat ein Fehler auf.</small>
            </h1>
            <p>Bitte wenden sie sich an den Hersteller.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <pre class="error templates:error-description"/>
        </div>
    </div>
</div>