<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="jumbotron">
        <div class="container">
            <h1>Generelle Einstellungen</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div data-template="general:save"/>
                <form class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="trace">Generierungschritte aufzeichnen</label>
                        <div class="col-sm-6">
                            <input data-template="general:trace"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="autoupdate">Automatische Aktualisierung</label>
                        <div class="col-sm-6">
                            <input data-template="general:autoupdate"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="verification">Strikte Paketüberprüfung</label>
                        <div class="col-sm-6">
                            <input data-template="general:verification"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-6">
                            <button type="submit" class="btn btn-primary" name="save" value="general">
                                <span class="glyphicon glyphicon-save"/> Übernehmen</button>
                        </div>
                    </div>
                </form>
                <script type="text/javascript"><!--
                $("#trace").bootstrapSwitch();
                $("#autoupdate").bootstrapSwitch();
                $("#verification").bootstrapSwitch();
                --></script>
            </div>
        </div>
    </div>
</div>