<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="jumbotron">
        <div class="container">
            <h1>Anmeldung <small>Wer bist du?</small>
            </h1>
            <form class="form form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="text" name="user" required="required" class="form-control" placeholder="Benutzername"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="password" name="password" class="form-control" placeholder="Passwort"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <button class="btn btn-primary" type="submit">Anmelden</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>