<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="jumbotron">
        <div class="container">
            <div class="pull-left">
                <h1>Protokoll <small data-template="protocol:countEntries"/>
                </h1>
            </div>
            <!-- Filter -->
            <div id="filter" class="pull-right col-sm-6">
                <div style="margin-top:30px;"/>
                <form method="get" class="form form-horizontal">
                    <!-- Typ -->
                    <div class="form-group">
                        <label for="typ" class="col-sm-4 control-label">Typen</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control templates:form-control" id="typ" name="typ" pattern="[A-Za-z0-9]*[\s[A-Za-z0-9]*]*" placeholder="val1 val2 val3..."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="componentStep" class="col-sm-4 control-label">Komponenten/Schritte</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control templates:form-control" id="componentStep" name="componentStep" pattern="[A-Za-z0-9]*[\s[A-Za-z0-9]*]*" placeholder="val1 val2 val3..."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button class="btn btn-primary" type="submit">Filter anwenden</button>
                            <span style="margin-left:5px;"/>
                            <a class="btn btn-default" href="protocolpool.html">Filter zurücksetzen</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="pager">
                <li data-template="protocol:pagerPrevious"/>
                <span class="text-primary" data-template="protocol:pageIndicator"/>
                <li data-template="protocol:pagerNext"/>
            </ul>
            <table class="table" data-template="protocol:currentPage">
                <tbody>
                    <tr data-template="templates:each" data-template-from="protocolEntries" data-template-to="protocolEntry">
                        <td data-template="protocol:column1"/>
                        <td data-template="protocol:column2"/>
                        <td data-template="protocol:column3"/>
                        <td data-template="protocol:column4"/>
                        <td data-template="protocol:column5"/>
                    </tr>
                </tbody>
            </table>
            <ul class="pager">
                <li data-template="protocol:pagerPrevious"/>
                <span class="text-primary" data-template="protocol:pageIndicator"/>
                <li data-template="protocol:pagerNext"/>
            </ul>
        </div>
    </div>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</div>