<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div data-template="protocol:initdetails">
        <div class="jumbotron">
            <div class="container">
                <h1>Trace Details <small data-template="protocol:step"/>
                </h1>
                <p data-template="protocol:note"/>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#notificationscript" role="tab" data-toggle="tab">Benachrichtigungsskript</a>
                    </li>
                    <li>
                        <a href="#inputnotification" role="tab" data-toggle="tab">Eingangsbenachrichtigung</a>
                    </li>
                    <li>
                        <a href="#outputnotification" role="tab" data-toggle="tab">Ausgangsbenachrichtigung</a>
                    </li>
                    <li>
                        <a href="#profilescript" role="tab" data-toggle="tab">Profilskript</a>
                    </li>
                    <li>
                        <a href="#inputprofile" role="tab" data-toggle="tab">Eingangsprofil</a>
                    </li>
                    <li>
                        <a href="#outputprofile" role="tab" data-toggle="tab">Ausgangsprofil</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="notificationscript">
                        <p/>
                        <pre>
                            <code class="xml" data-template="protocol:notificationscript"/>
                        </pre>
                    </div>
                    <div class="tab-pane" id="inputnotification">
                        <p/>
                        <pre>
                            <code class="xml" data-template="protocol:inputnotification"/>
                        </pre>
                    </div>
                    <div class="tab-pane" id="outputnotification">
                        <p/>
                        <pre>
                            <code class="xml" data-template="protocol:outputnotification"/>
                        </pre>
                    </div>
                    <div class="tab-pane" id="profilescript">
                        <p/>
                        <pre>
                            <code class="xml" data-template="protocol:profilescript"/>
                        </pre>
                    </div>
                    <div class="tab-pane" id="inputprofile">
                        <p/>
                        <pre>
                            <code class="xml" data-template="protocol:inputprofile"/>
                        </pre>
                    </div>
                    <div class="tab-pane" id="outputprofile">
                        <p/>
                        <pre>
                            <code class="xml" data-template="protocol:outputprofile"/>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</div>